<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Marido de Aluguel</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Como Funciona </a>
      </li>
      <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu"><a class="dropdown-item" href="#">Eletricista</a> <a class="dropdown-item" href="#">Bombeiro Hidraulico</a> <a class="dropdown-item" href="#">Eletricista1</a> <a class="dropdown-item" href="#">Chaveiro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Jardineiro</a>
        </div>
      </li> -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showProfessionalBoard">
        <a href="/prof" class="nav-link" routerLink="prof">Professional Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h2 class="logo"><a href="https://programadorviking.com.br/"> LOGO </a></h2>
          </div>
          <div class="col-sm-2">
            <h4>Mapa do site</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="#">como funciona</a></li>
              <li><a href="#">Nossos serviços</a></li>
              <li><a href="#">Seja um marido de Aluguel</a></li>
          </ul>
          </div>
          <div class="col-sm-2">
              <h4>Contato</h4>
              <ul>
                <li> <a href="#"> +246 - 542 550 5462</a></li>
                <li> <a href="#"> info@pingendo.com</a></li>
                <li> <a href="#"> 365 Park Street, NY</a></li>
              </ul>
          </div>
          <div class="col-sm-5">
              <h4>Mande uma mensagem para nós</h4>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="form" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="form2" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="form3" placeholder="Assunto">
            </div>
            <div class="form-group">
              <textarea name="form2" rows="3" class="form-control" id="form4" placeholder="Sua Mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          </div>

          <!-- CASO QUEIRA ADICIONAR MAIS UMA COLUNA -->
          <!-- <div class="col-sm-3">
              <div class="social-networks">
                  <a href="https://programadorviking.com.br/" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://programadorviking.com.br/" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://programadorviking.com.br/" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
              <a href="https://programadorviking.com.br/">
                  <button type="button" class="btn btn-default">Contato</button>
              </a>
          </div> -->
      </div>
  </div>
  <div class="footer-copyright">
      <p>© Copyright 2020 Prática Profissional em Análise e Desenvolvimento de Sistemas</p>
  </div>
</footer>