<div class="col-md-12">
  <div class="card card-container">

    <form>
      <div class="form-group">
        <!-- Nome -->
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" value="{{ user.nome }}">
      </div>
      <!-- sobrenome -->
      <div class="form-group">
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" class="form-control" name="sobrenome" value="{{ user.sobrenome }}">
      </div>
      <div class="row">
        <!-- CPF -->
        <div class="col-lg-6">
          <label for="cpf">CPF:</label>
          <input name="cpf" type="text" class="form-control" name="cpf" value="{{ user.cpf }}">
          
          &nbsp;
        </div>
        <!-- RG -->
        <div class="col-lg-6">
          <label for="cpf">RG:</label>
          <input name="rg" type="text" class="form-control" value="{{ user.rg }}" pattern="[0-9]+$" maxlength="8">
          
          &nbsp;
        </div>

        <!-- Telefone -->
        <div class="col-lg-6">
          <label for="telefone">Telefone:</label>
          <input name="telefone" type="text" class="form-control" value="{{ user.telefone }}" maxlength="13">
          &nbsp;
        </div>

        <!-- CEP -->
        <div class="col-lg-6">
          <label for="cep">Cep:</label>
          <input name="cep" type="text" class="form-control" value="{{ user.cep }}" pattern="[0-9]+$">
          &nbsp;
        </div>
        <!-- Rua -->
        <div class="col-lg-6">
          <label for="rua">Rua:</label>
          <input name="rua" type="text" class="form-control" id="rua" value="{{ user.rua }}" maxlength="100">
          &nbsp;
        </div>
        <!-- Numero -->
        <div class="col-lg-3">
          <label for="numero">Nº:</label>
          <input name="numero" type="text" class="form-control" value="{{ user.numero }}" maxlength="10" id="numero">
          &nbsp;
        </div>
        <!-- Bairro -->
        <div class="col-lg-3">
          <label for="bairro">Bairro:</label>
          <input name="bairro" type="text" class="form-control" value="{{ user.bairro }}" id="bairro">
          &nbsp;
        </div>
        <!-- Cidade -->
        <div class="col-lg-3 form-text">
          <label for="cidade">Cidade:</label>
          <input name="cidade" type="text" class="form-control" placeholder="Cidade" value="{{ user.cidade }}" id="cidade">
          &nbsp;
        </div>
        <!-- Estado -->
        <div class="col-3">
          <label for="estado" class="form-text">Estado:</label>
          <select name="estado" class="form-group" value="{{ user.estado }}">
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>ES</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
            <option>DF</option>
          </select>
          &nbsp;
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" value="{{ user.username }}" required minlength="3" maxlength="20">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" value="{{ user.email }}" required email>
      </div>
       <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" value="{{ user.password }}" required minlength="6">
      </div> 
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>