<!-- Disciplina:Prática Profissional em Análise e Desenvolvimento de Sistemas -->
<!-- Professor:Fábio Lopes -->
<!-- Alunos:Carlos Rodrigues Oliveira
     Daniel do Rosário Rocha
     José luiz Gonçalves
     Paulo Batista De Oliveira -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marido de Alugel </title>
  <!-- <link href="../css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css" style=""> -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css">
  .thumbnail {
}
  </style>
<div class="container">
    <header>
      <div>
        <h1 class="title">
          <!-- Clip image with an oval -->
          <!-- Clip image with a circle -->
          <!-- Clip image with a thumbnail --><span style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif">
            <marquee>
              <span style="text-align: center; color: #0730F3;">Bem vindo ao melhor site de marido de aluguel</span>
            </marquee>
          </span></h1>
        <!-- <ul class="nav nav-tabs col-lg-6">
          <li class="nav-item"> <a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Como funciona</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">Eletricista</a> <a class="dropdown-item" href="#">Bombeiro Hidraulico</a> <a class="dropdown-item" href="#">Eletricista1</a> <a class="dropdown-item" href="#">Chaveiro</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Jardineiro</a>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href="#">Ajuda</a></li>
          <li class="nav-item">&nbsp;</li>
          <span class="nav-item"><a class="nav-link" href="form.html">Cadastrar</a></span>
        </ul> -->
        <h1 class="title"><span style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif"> </span></h1>
      </div>
    </header>
    <section>
      <h2 class="noDisplay">Main Content</h2>
      <article class="left_article">
        <h3>o que é um marido de aluguel</h3>
        <p>O marido de aluguel é um profissional capacitado para a prestação de serviços em diversas áreas com segurança. Ele consegue executar desde trabalhos mais simples, como colocação de cortinas, instalação de varais, pequenas pinturas e montagem e desmontagem de móveis, por exemplo, até os mais técnicos, como troca de chuveiro, instalação de torneira elétrica, troca de fechadura, pequenos reparos elétricos e hidráulicos etc. É por isso que esse profissional também é chamado de faz tudo. </p>
      </article>
      <aside class="right_article"><img src="../../assets/img/log_1.jpg" alt="" width="520" height="347" class="placeholder"> </aside>
    </section>
    <div class="row">
      <div class="columns">
        <p class="thumbnail_align"> <img src="../../assets/img/log_2.jpg" alt="" width="290" height="220" class="thumbnail"> </p>
        <h4>Serviços</h4>
        <p>O profissional irá realizar o serviço na data e horário acordados entre vocês! Nossos profissionais são amigáveis, organizados e absolutamente empenhados em oferecer serviços efetivos e impecáveis. Nós acreditamos firmemente em fornecer o mais alto nível de serviço residencial, comercial e predial. Nossa equipe também se preocupa intensamente em lhe prestar os devidos suporte.</p>
      </div>
      <div class="columns">
        <p class="thumbnail_align"> <img src="../../assets/img/log_4.jpg" alt="" width="236" height="386" class="thumbnail"> </p>
        <h4>Colocação de rede de proteção</h4>
        <p>A colocação de redes de proteção requer prática e habilidade com furadeiras, além da medição do espaço e de muita atenção à segurança para operar os instrumentos próximos a janelas, que são o local principal de colocação das telas.</p>
      </div>
      <div class="columns">
        <p class="thumbnail_align"> <img src="../../assets/img/log_5.jpg" alt="" width="352" height="347" class="thumbnail"></p>
        <h4>Conserto de vazamentos</h4>
        <p>Vazamentos, além de gerarem dor de cabeça, também são os melhores amigos do desperdício de água. Então, mesmo que seja um vazamento de água no banheiro, na cozinha ou no jardim, a primeira coisa a se fazer é cessar o abastecimento de água do local. Depois, chame um profissional para entender de onde vem o problema.	</p>
      </div>
      <div class="columns">
        <p class="thumbnail_align"><span class="col-md-6"><img src="../../assets/img/log_6.jpg" width="329" height="258" class="thumbnail"></span></p>
        <h4>Limpeza de caixa d’água</h4>
        <p>        Moramos em um país tropical e, por isso, é de extrema importância que a caixa d’água seja limpa duas vezes por ano. Antes de começar a limpeza, é preciso fechar o registro e anular a boia automática, para, então, esvaziar a caixa e iniciar o esfrega-esfrega. Mas atenção: nesse processo, não use produtos químicos que possam contaminar a água. E, em caso de dúvidas, já sabe! Conte com um marido de aluguel!</p>
      </div>
    </div>
</div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
<div class="columns">
        <h2 class="mb-4">Mapa do site</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-dark">Home</a> <br>
            <a href="#" class="text-dark">como funciona</a> <br>
            <a href="#" class="text-dark">Nossos services</a> <br>
            <a href="#" class="text-dark">Seja um marido de Aluguel</a>
        </ul>
        </div>
        <div class="columns">
          <h2 class="mb-4">Contatos</h2>
          <p> <a href="#" class="text-dark"> <i class="fa d-inline mr-3 text-muted fa-phone"></i>+246 - 542 550 5462</a></p>
          <p> <a href="#" class="text-dark"> <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>info@pingendo.com</a></p>
          <p> <a href="#" class="text-dark"> <i class="fa d-inline mr-3 fa-map-marker text-muted"></i>365 Park Street, NY</a></p>
        </div>
        <div class="columns">
          <h2 class="mb-4">Contate-nos</h2>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="form" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="form2" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="form3" placeholder="Assunto">
            </div>
            <div class="form-group">
              <textarea name="form2" rows="3" class="form-control" id="form4" placeholder="Sua Mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2020 Prática Profissional em Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.3.1.js"></script>